<!DOCTYPE html>
<html>

<body>


    <table class="table">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>

    <script type="text/template" id="surfboard-template">
      <td><%= manufacturer %></td>
      <td><%= model %></td>
      <td><%= stock %></td>
    </script>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
